user www-data; 
worker_processes auto; 
pid /run/nginx.pid; 
include /etc/nginx/modules-enabled/*.conf;

events { 
        worker_connections 768; 
        # multi_accept on; 
 }
  
 stream {
     
     upstream udp_servers{
        {% for dev_servers in groups['webservers'] %}
     server {{ hostvars[dev_servers]["ansible_default_ipv4"]["address"] }}:161;
        {% endfor %} 
	}
 server {
    listen 1611 udp;
    proxy_pass udp_servers;
   }

}
